body{
    padding:50px 100px;
    background-color: rgb(5, 219, 239);
}
h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: black;

}
#container{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 35px;
    background-color: aqua;
    border-radius: 20px;
    
}
.lab{
    font-size: 30px;
    font-weight: bold;

}
#equal{
    font-size: 45px;
    margin-top: 45px;
}
.inp{
    padding: 5px 10px;
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
